# Server configuration
PORT={PORT}

# Database configuration
DATABASE_URL={DATABASE_URL}

# Redis configuration
REDIS_URL={REDIS_URL}

# OTP configuration
OTP_SECRET={OTP_SECRET}

# Mail configuration
MAIL_USER={MAIL_USER}
MAIL_PASSWORD={MAIL_PASSWORD}

# JWT configuration
JWT_PRIVATE_KEY_PATH={JWT_PRIVATE_KEY_PATH}
JWT_PUBLIC_KEY_PATH={JWT_PUBLIC_KEY_PATH}
JWT_ISSUER={JWT_ISSUER}